.home {
  background-color: var(--back-light);
}

.SobrerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fotoPerfil {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  border: solid 1px var(--back-dark);
}
.containerHome {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  flex-wrap: wrap;
}
.perfilInfo {
  max-width: 60%;
}
.perfilInfo h3 {
  text-align: center;

  font-size: 1.5rem;
  border-bottom: solid 2px;
}

.perfilInfo h4 {
  margin-top: 15px;
  display: flex;
  font-size: 1.2rem;
  position: relative;
  padding: 4px;
  color: var(--text-dark);
}
.perfilInfo p {
  display: flex;
  position: relative;
  padding: 4px;
  color: var(--text-dark);
}

.tecnologias {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}

.tecnologias img {
  border-radius: 6px;
  margin: 2px 3px;
  height: 35px;
}
.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.projetos h3 {
  margin-bottom: 12px;
  text-align: center;
}
.projetos .projetosLink {
  margin-top: 1em;
  font-size: 1.1rem;
  color: var(--text-dark);
  transition: 300ms;
  font-weight: bold;
  padding: .4em;
  border: solid 1px var(--text-dark);
  border-radius: 5px;
  transition: all .6s;

}
.projetos a:hover {
  color: var(--main-color);
  transform: scale(1.04);
  border-color: var(--main-color);
  background-color: var(--back-dark);
}
.formacao {
  margin-top: 1em;
}
.formacao h3 {
  margin-bottom: 1em;
}

.formacao .cardFormacao span {
  margin-right: 5px;
  font-weight: bold;
  color: var(--text-dark);
}
.formacao .cardFormacao {
  margin: .8em ;
  max-width: 700px;
}
.formacao .cardFormacao h4{
  color: var(--text-dark);
  font-size: 1.1em;
}
