.Projetos{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* min-height: 100vh; */
    transition: 0.5s;
}
.Projetos h3{
    padding: .3em;
    margin: .6em 0;
    text-align: center;
    border-bottom: solid 2px var(--text-dark);
    width: 45%;
}

.Projetos .container{
    width: 95%;
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

}
.textEmBreve{
    font-size: 0.85em;
    padding: 1em;
    text-align: center;
    margin: .4em 0;
    border-top:  solid 1px var(--text-dark);
    width: 50%;
}